.dialogs {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.dialog a.active {
    padding: 10px;
    color: gold;
}

.messages .message {
    color: black;
}
.newMessage {
    grid-area: newMessage;
}
